/** {
  border: 1px solid red;
}*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 30px;
  /*font-size: 2vw;*/
  /*line-height: 1.42857143;*/
  /*margin-top: 20px;*/
}

.container {

  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  /*padding: 30px 15px;*/
  /*padding-left: 60px;
  padding-right: 60px;*/
  border-radius: 6px;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

img {
  max-width: 100%;

  /*padding: 4px;*/
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px
}

h3 {
  font-size: 2.4rem; /* 24px / 10px */
  font-weight: 500;
  line-height: 1.1;
}

.text-center {
  text-align: center;
}

li {
  font-size: 1.7rem;   /* 17px / 10px */
}

blockquote {
  background: #dde4e9;
  display: block;
  padding-left: 15px;
  margin-left: 70px;
  margin-right: 0;
  line-height: 30px;
  font-size: 2.1rem; /* 21px / 10px */
  font-weight: 200;
  border-left: 5px solid grey;
}

h4 {
  font-size: 1.8rem;
  line-height: 19.8px;
}

footer {
  font-size: 1.4rem;
  text-align: right;
  font-weight: 500;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6.3rem;}

  }

@media (min-width: 1200px) {

    img {
      /*max-width: 100%;*/
      margin-left: auto;
      margin-right: auto;
}
